 
.itemsContainerBottom{
    color: #b8b7b7;
    background-color: #fff;
    justify-content: center;
    display: flex;
 
    border-radius: 100px;
    font-size: 15px;
    filter: drop-shadow(0px 0px 3px gray);
}
a{
    color: #b8b7b7;
    width: 100%;
    text-align: center;
}