.titleBig{
    font-size: 55px;
    font-weight: bold;
    padding: 0rem 1rem;
    color: #c5c5c5;
    filter: drop-shadow(2px 2px 2px black);
  }
  .backgroundHeader {
    background-image: url(/src/assets/background/bg1.webp);
    height: 150px;
    background-size: cover;
    background-position-y: -25px;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    top: 0;
  }
  