@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
/* Para navegadores Webkit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 12px; /* Ajuste a largura conforme necessário */
  background-color: rgb(255 255 255 / 0%);
}

* {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: normal;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent; /* Cor da barra de rolagem e cor de fundo transparente */
  scrollbar-width: thin; /* Largura da barra de rolagem (pode ser thin, auto ou none) */
 
}
body {
  margin: 0px;
}
